.App{
  text-align: center;
}

body{
  margin: 0px;
  padding: 0px;
}
.Board{
  width: 100%;
  text-align: center;
}
.Board h2{
  width: 100%;
  text-align: center;
}
.tile{
  display: inline-blocks;
  display: inline-flex;
}
.tile button{
  display: inline-blocks;
  width: 300px;
  
}